.di-grid-compare1{
	display: inline-block;
	position: absolute;
	right: 15px;
	bottom: 15px;
}
.compare-grid-link1 {
	display:inline-block;
    color: #fff;
    font-size: 16px;
    width: 28px;
    height: 28px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(255,555,255, 0.3);
    text-align: center;
    line-height: 26px;
	border-radius:1px;

}
.compare-grid-link1:hover {
	 background: #fff;
}

.di-grid-car-history{
	display: inline-block;
	position: absolute;
	right: 48px;
	bottom: 15px;
}
.di-grid-car-history a {

    color: #fff;
    font-size: 16px;
    width: 28px;
    height: 28px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(255,555,255, 0.2);
    text-align: center;
    line-height: 26px;
	border-radius:1px;

}
.di-grid-car-history a:hover {
	 background: #fff;
}

/* listing styles */

/** grid style 1 **/

.listing-post-style-motoro_grid_1{}
.listing-post-style-motoro_grid_1 .listing-wrapper{}
.listing-post-style-motoro_grid_1 .listing-wrapper .alsp-listing-logo{}
.listing-post-style-motoro_grid_1 .listing-wrapper .alsp-listing-text-content-wrap{
	padding:15px 20px 10px !important;
	position:relative;
	overflow:visible !important;
}
.listing-post-style-motoro_grid_1 .listing-wrapper .alsp-listing-text-content-wrap header.alsp-listing-header h2 {
    margin: 2px 0 8px;
    display: inline-block;
}
.listing-post-style-motoro_grid_1 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper{}
.listing-post-style-motoro_grid_1 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper a{
	color:#4295e2;
	font-size:12px;
}
.listing-post-style-motoro_grid_1 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper i{
	padding:0 5px;
}
.alsp-listings-grid .listing-post-style-motoro_grid_1 .listing-wrapper .alsp-listing-text-content-wrap .alsp-field-output-block-price {
    display: block;
    color: #3eb549;
    font-size: 16px;
    font-weight: 700;
    float: none;
	margin:0;
}
.alsp-listings-grid .listing-post-style-motoro_grid_1 .listing-wrapper .grid-fields-wrapper.inline-fields{
	 border-top: 1px solid #eee;
}
.alsp-listings-grid .listing-post-style-motoro_grid_1 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block {
    margin: 0;
    width: calc(33.3333% - 2px);
	border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    min-height: 38px;
    line-height: 38px;
    padding: 0 5px !important;
    text-align: center;
    box-sizing: border-box;

}
.alsp-listings-grid .listing-post-style-motoro_grid_1 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block:nth-child(3n) {
    border-right: none;
	width: 33.3333%;
}

.alsp-listings-grid .listing-post-style-motoro_grid_1 .listing-wrapper .alsp-listing-text-content-wrap .listing-location{
	margin-bottom:4px;
	margin-top:5px;
	text-transform:capitalize;
}
.alsp-listings-grid .listing-post-style-motoro_grid_1 .listing-wrapper .alsp-listing-text-content-wrap .listing-location i{
	color:#d8d8d8;
	padding-right:10px;
	font-size:12px
}
.alsp-listings-grid .listing-post-style-motoro_grid_1 .listing-wrapper .alsp-listing-text-content-wrap .listng-author-img {
	border: 2px solid #ebebeb;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 15px;
	top: -20px;
	border-radius: 50%;
}
.alsp-listings-grid .listing-post-style-motoro_grid_1 .listing-wrapper .alsp-listing-text-content-wrap .author-in-active,
.alsp-listings-grid .listing-post-style-motoro_grid_1 .listing-wrapper .alsp-listing-text-content-wrap .uthor-active {
    margin-left: -12px;
    bottom: 0;
    position: absolute;
}
.featured-tag-motoro-grid-1{
	min-width: 60px;
	min-height: 18px;
	line-height: 18px;
	border-radius: 0;
	background: #f7425b;
	display: inline-block;
	text-align: center;
	color: #fff;
	margin-bottom: 0;
	font-size: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
	left: auto;
	text-transform: uppercase
}
.alsp-listings-grid .listing-post-style-motoro_grid_1 .listing-wrapper .di-grid-compare1{
	right: auto;
	left:10px;
	bottom: 10px;
}
/** grid style 2 **/

.listing-post-style-motoro_grid_2{}
.listing-post-style-motoro_grid_2 .listing-wrapper{}
.listing-post-style-motoro_grid_2 .listing-wrapper .alsp-listing-logo{}
.listing-post-style-motoro_grid_2 .listing-wrapper .alsp-listing-text-content-wrap{
	padding:17px 15px 16px !important;
	position:relative;
	overflow:visible !important;
	text-align:center;
}
.listing-post-style-motoro_grid_2 .listing-wrapper .alsp-listing-text-content-wrap header.alsp-listing-header h2 {
    margin: 4px 0 0;
    display: inline-block;
}
.listing-post-style-motoro_grid_2 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper{}
.listing-post-style-motoro_grid_2 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper a{
	color:#4295e2;
	font-size:12px;
}
.listing-post-style-motoro_grid_2 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper i{
	padding:0 5px;
}
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper figure .price {
    display: inline-block;
	position:absolute;
	top:10px;
	left:10px;
	
}
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper figure .price .alsp-field-output-block-price {
	margin:0;
}
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper figure .price .alsp-field-output-block-price .alsp-field-content{
	padding:2px 10px;
	font-weight:700;
	color: #fff;
}
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper .grid-fields-wrapper.inline-fields{
	 border-top: 1px solid #eee;
}
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block {
    margin: 0;
    width: calc(33.3333% - 2px);
	border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 9px 5px 8px !important;
    text-align: center;
    box-sizing: border-box;

}
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block .alsp-field-caption{
    margin-bottom:0;
	display:block;
}
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block .alsp-field-caption .alsp-field-icon{
    font-size: 16px;
	color: #ccc;
}
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block .alsp-field-content{
	display:block;
}
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block:nth-child(3n) {
    border-right: none;
	width: 33.3333%;
}

.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper .alsp-listing-text-content-wrap .listing-location{
	margin-bottom:4px;
	margin-top:2px;
	text-transform:capitalize;
}
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper .alsp-listing-text-content-wrap .listing-location i{
	color:#d8d8d8;
	padding-right:10px;
	font-size:12px
}
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper .alsp-listing-text-content-wrap .listng-author-img {
	border: 2px solid #ebebeb;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 15px;
	top: -20px;
	border-radius: 50%;
}
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper .alsp-listing-text-content-wrap .author-in-active,
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper .alsp-listing-text-content-wrap .uthor-active {
    margin-left: -12px;
    bottom: 0;
    position: absolute;
}
.featured-tag-motoro-grid-2{
	min-width: 60px;
	min-height: 18px;
	line-height: 18px;
	border-radius: 0;
	background: #f7425b;
	display: inline-block;
	text-align: center;
	color: #fff;
	margin-bottom: 0;
	font-size: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
	left: auto;
	text-transform: uppercase
}
.alsp-listings-grid .listing-post-style-motoro_grid_2 .listing-wrapper .di-grid-compare1{
	right: auto;
	left:10px;
	bottom: 10px;
}

/** grid style 3 **/

.listing-post-style-motoro_grid_3{}
.listing-post-style-motoro_grid_3 .listing-wrapper{}
.listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-logo{}
.listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-text-content-wrap{
	padding:17px 15px 16px !important;
	position:relative;
	overflow:visible !important;
	text-align:center;
}
.listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-text-content-wrap header.alsp-listing-header h2 {
    margin: 4px 0 0;
    display: inline-block;
}
.listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper{}
.listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper a{
	color:#4295e2;
	font-size:12px;
}
.listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper i{
	padding:0 5px;
}
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-text-content-wrap .price {
    display: block;
	position:relative;	
}
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-text-content-wrap .price .alsp-field-output-block-price {
	float:none;
	margin:3px 0 0;
}
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-text-content-wrap .price .alsp-field-output-block-price .alsp-field-content{
	font-size:18px;
	font-weight:700;
	color: #3eb549;
}
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .grid-fields-wrapper.inline-fields{
	 border-top: 1px solid #eee;
}
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block {
    margin: 0;
    width: calc(33.3333% - 2px);
	border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 9px 5px 8px !important;
    text-align: center;
    box-sizing: border-box;

}
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block .alsp-field-caption{
    margin-bottom:0;
	display:block;
}
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block .alsp-field-caption .alsp-field-icon{
    font-size: 16px;
	color: #ccc;
}
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block .alsp-field-content{
	display:block;
}
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block:nth-child(3n) {
    border-right: none;
	width: 33.3333%;
}

.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-text-content-wrap .listing-location{
	margin-bottom:4px;
	margin-top:0;
	text-transform:capitalize;
}
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-text-content-wrap .listing-location i{
	color:#d8d8d8;
	padding-right:10px;
	font-size:12px
}
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-text-content-wrap .listng-author-img {
	border: 2px solid #ebebeb;
	width: 40px;
	height: 40px;
	position: absolute;
	right: auto;
	top: -20px;
	left:15px;
	border-radius: 50%;
}
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-text-content-wrap .author-in-active,
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .alsp-listing-text-content-wrap .uthor-active {
    margin-left: -12px;
    bottom: 0;
    position: absolute;
}
.featured-tag-motoro-grid-3{
	min-width: 60px;
	min-height: 18px;
	line-height: 18px;
	border-radius: 0;
	background: #f7425b;
	display: inline-block;
	text-align: center;
	color: #fff;
	margin-bottom: 0;
	font-size: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
	left: auto;
	text-transform: uppercase
}
.alsp-listings-grid .listing-post-style-motoro_grid_3 .listing-wrapper .di-grid-compare1{
	right: 10px;
	left:auto;
	bottom: 10px;
}

/** grid style 4 **/

.listing-post-style-motoro_grid_4{}
.listing-post-style-motoro_grid_4 .listing-wrapper{}
.listing-post-style-motoro_grid_4 .listing-wrapper .alsp-listing-logo{}
.listing-post-style-motoro_grid_4 .listing-wrapper .alsp-listing-text-content-wrap{
	padding:17px 15px 16px !important;
	position:relative;
	overflow:visible !important;
	text-align:center;
}
.listing-post-style-motoro_grid_4 .listing-wrapper .alsp-listing-text-content-wrap header.alsp-listing-header h2 {
    margin: 4px 0 0;
    display: inline-block;
}
.listing-post-style-motoro_grid_4 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper{}
.listing-post-style-motoro_grid_4 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper a{
	color:#4295e2;
	font-size:12px;
}
.listing-post-style-motoro_grid_4 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper i{
	padding:0 5px;
}
.listing-post-style-motoro_grid_4 .listing-wrapper .listing-bottom-metas{
	min-height: 40px;
	border-top: 1px solid #eee;
}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .listing-bottom-metas .price {
    display: block;
	position: relative;
	float: left;
	min-height: 40px;
	padding-left: 15px;
}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .listing-bottom-metas .price .alsp-field-output-block-price {
	float:none;
	margin:0;
}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .listing-bottom-metas .price .alsp-field-output-block-price .alsp-field-content{
	font-size:16px;
	font-weight:700;
	color: #3eb549;
	line-height: 40px;
}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .grid-fields-wrapper.inline-fields{
	
}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block {
    margin: 0 2px 0 0;
    width: calc(33.3333% - 2px);
    padding: 5px !important;
    text-align: center;
    box-sizing: border-box;
	background:#f7f7f7;

}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block .alsp-field-caption{
    margin-bottom:0;
}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block .alsp-field-caption .alsp-field-icon{
    font-size: 16px;
	color: #ccc;
}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block .alsp-field-content{
}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block:nth-child(3n) {
    margin:0;
	width: 33.3333%;
}

.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .alsp-listing-text-content-wrap .listing-location{
	margin-bottom:9px;
	margin-top:3px;
	text-transform:capitalize;
}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .alsp-listing-text-content-wrap .listing-location i{
	color:#d8d8d8;
	padding-right:10px;
	font-size:12px
}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .alsp-listing-text-content-wrap .listng-author-img {
	border: 2px solid #ebebeb;
	width: 40px;
	height: 40px;
	position: absolute;
	right: auto;
	top: -20px;
	left:15px;
	border-radius: 50%;
}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .alsp-listing-text-content-wrap .author-in-active,
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .alsp-listing-text-content-wrap .uthor-active {
    margin-left: -12px;
    bottom: 0;
    position: absolute;
}
.featured-tag-motoro-grid-4{
	min-width: 60px;
	min-height: 18px;
	line-height: 18px;
	border-radius: 0;
	background: #f7425b;
	display: inline-block;
	text-align: center;
	color: #fff;
	margin-bottom: 0;
	font-size: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
	left: auto;
	text-transform: uppercase
}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .di-grid-compare1{
	right: 0;
	left:auto;
	bottom: 0;
}
.alsp-listings-grid .listing-post-style-motoro_grid_4 .listing-wrapper .di-grid-compare1 a.compare-grid-link1{
	display: inline-block;
	color: #ff5a00;
	font-size: 16px;
	width: 40px;
	height: 40px;
	background: none;
	border-left: 1px solid #eee;
	line-height: 40px;
	border-radius: 0;
}
/** grid style 5 **/

.listing-post-style-motoro_grid_5{}
.listing-post-style-motoro_grid_5 .listing-wrapper{
	background:#f7f7f7;
}
.listing-post-style-motoro_grid_5 .listing-wrapper .alsp-listing-logo{}
.listing-post-style-motoro_grid_5 .listing-wrapper .alsp-listing-text-content-wrap{
	padding:17px 15px 16px !important;
	position:relative;
	overflow:visible !important;
	text-align:center;
}
.listing-post-style-motoro_grid_5 .listing-wrapper .alsp-listing-text-content-wrap header.alsp-listing-header h2 {
    margin: 4px 0 0;
    display: inline-block;
}
.listing-post-style-motoro_grid_5 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper{}
.listing-post-style-motoro_grid_5 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper a{
	color:#4295e2;
	font-size:12px;
}
.listing-post-style-motoro_grid_5 .listing-wrapper .alsp-listing-text-content-wrap .cat-wrapper i{
	padding:0 5px;
}
.listing-post-style-motoro_grid_5 .listing-wrapper .listing-bottom-metas{
	min-height: 40px;
	border-top: 1px solid #eee;
}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .listing-bottom-metas .price {
    display: block;
	position: relative;
	float: left;
	min-height: 40px;
	padding-left: 15px;
}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .listing-bottom-metas .price .alsp-field-output-block-price {
	float:none;
	margin:0;
}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .listing-bottom-metas .price .alsp-field-output-block-price .alsp-field-content{
	font-size:16px;
	font-weight:700;
	color: #3eb549;
	line-height: 40px;
}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .grid-fields-wrapper.inline-fields{
	
}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block {
    margin: 0 2px 0 0;
    width: calc(33.3333% - 2px);
    padding: 5px !important;
    text-align: center;
    box-sizing: border-box;
	background:#fff;

}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block .alsp-field-caption{
    margin-bottom:0;
}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block .alsp-field-caption .alsp-field-icon{
    font-size: 16px;
	color: #ccc;
}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block .alsp-field-content{
}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .grid-fields-wrapper .alsp-field-output-block:nth-child(3n) {
    margin:0;
	width: 33.3333%;
}

.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .alsp-listing-text-content-wrap .listing-location{
	margin-bottom:9px;
	margin-top:3px;
	text-transform:capitalize;
}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .alsp-listing-text-content-wrap .listing-location i{
	color:#d8d8d8;
	padding-right:10px;
	font-size:12px
}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .alsp-listing-text-content-wrap .listng-author-img {
	border: 2px solid #ebebeb;
	width: 40px;
	height: 40px;
	position: absolute;
	right: auto;
	top: -20px;
	left:15px;
	border-radius: 50%;
}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .alsp-listing-text-content-wrap .author-in-active,
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .alsp-listing-text-content-wrap .uthor-active {
    margin-left: -12px;
    bottom: 0;
    position: absolute;
}
.featured-tag-motoro-grid-5{
	min-width: 60px;
	min-height: 18px;
	line-height: 18px;
	border-radius: 0;
	background: #f7425b;
	display: inline-block;
	text-align: center;
	color: #fff;
	margin-bottom: 0;
	font-size: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
	left: auto;
	text-transform: uppercase
}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .di-grid-compare1{
	right: 0;
	left:auto;
	bottom: 0;
}
.alsp-listings-grid .listing-post-style-motoro_grid_5 .listing-wrapper .di-grid-compare1 a.compare-grid-link1{
	display: inline-block;
	color: #ff5a00;
	font-size: 16px;
	width: 40px;
	height: 40px;
	background: none;
	border-left: 1px solid #eee;
	line-height: 40px;
	border-radius: 0;
}