.pacz-pricing-table .pacz-pricing-offer-grid {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin-top: 188px;
  padding-right: 1px;
}
.pacz-pricing-table .pacz-pricing-offer-grid .pacz-offers ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.pacz-pricing-table .pacz-pricing-offer-grid .pacz-offers ul li {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  padding: 15px 0;
  display: block;
  width: auto;
  font-weight: bold;
}
.pacz-pricing-table .pacz-pricing-cols {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}
.pacz-pricing-table .pacz-pricing-cols li {
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  max-width: 265px;
  position: relative;
  z-index: 10;
}
.pacz-pricing-table .pacz-pricing-cols li.four-table {
  width: 25%;
}
.pacz-pricing-table .pacz-pricing-cols li.three-table {
  width: 33.3333333%;
}
.pacz-pricing-table .pacz-pricing-cols li.two-table {
  width: 50%;
}
.pacz-pricing-table .pacz-pricing-cols li.one-table {
  width: 100%;
}
.pacz-pricing-table .pacz-pricing-cols > li {
  margin-top: 30px;
}
.pacz-pricing-table .pacz-pricing-cols .pacz-pricing-plan {
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 7px 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.pacz-pricing-table .pacz-pricing-cols .pacz-pricing-price {
  height: 130px;
  width: 100%;
}
.pacz-pricing-table .pacz-pricing-cols .pacz-pricing-price span {
  font-size: 50px;
  line-height: 130px;
  font-weight: 500;
  color: #fff;
  position: relative;
  z-index: 10;
}
.pacz-pricing-table .pacz-pricing-cols .pacz-pricing-features ul {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 20;
}
.pacz-pricing-table .pacz-pricing-cols .pacz-pricing-features ul li {
  font-size: 13px;
  line-height: 16px;
  padding: 15px 0;
  display: block;
  width: auto;
  background-color: rgba(0, 0, 0, 0.005);
}
.pacz-pricing-table .pacz-pricing-cols .pacz-pricing-features ul li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.02);
}
.pacz-pricing-table .pacz-pricing-cols .pacz-pricing-features i {
  font-size: 16px;
}
.pacz-pricing-table .pacz-pricing-cols .pacz-pricing-features .pacz-icon-check {
  color: #00c360;
}
.pacz-pricing-table .pacz-pricing-cols .pacz-pricing-features .pacz-icon-times {
  color: #ff0048;
}
.pacz-pricing-table .pacz-pricing-cols .pacz-pricing-features .pacz-icon-star {
  margin-left: 3px;
}
.pacz-pricing-table .pacz-pricing-cols .pacz-pricing-features .pacz-icon-star.empty {
  color: #b0b0b0;
}
.pacz-pricing-table .pacz-pricing-cols .pacz-pricing-button {
  padding: 20px 0 30px;
  background-color: rgba(0, 0, 0, 0.01);
}
.pacz-pricing-table .pacz-pricing-cols .pacz-pricing-button a {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
}
.pacz-pricing-table .featured-plan {
  margin: 1px -1px 0 -1px !important;
  border: 1px solid rgba(0, 0, 0, 0.6);
  z-index: 30 !important;
  -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.24);
}
.pacz-pricing-table .featured-plan .pacz-pricing-price {
  height: 158px;
}
.pacz-pricing-table .featured-plan .pacz-pricing-button {
  padding: 30px 0 50px;
}
.pacz-pricing-table.has-pricing-offer .pacz-pricing-cols {
  width: 80% !important;
  text-align: left;
}
.pacz-pricing-table.classic-style {
  /* Light Skin */
  /* Dark Skin */
}
.pacz-pricing-table.classic-style li .pacz-pricing-cols:nth-child(odd) .pacz-pricing-plan {
  background-color: rgba(0, 0, 0, 0.6);
}
.pacz-pricing-table.classic-style li .pacz-pricing-cols:nth-child(odd) .pacz-pricing-price,
.pacz-pricing-table.classic-style li .pacz-pricing-cols:nth-child(odd) .pacz-pricing-features,
.pacz-pricing-table.classic-style li .pacz-pricing-cols:nth-child(odd) .pacz-pricing-button {
  position: relative;
}
.pacz-pricing-table.classic-style li .pacz-pricing-cols:nth-child(odd) .pacz-pricing-price:before,
.pacz-pricing-table.classic-style li .pacz-pricing-cols:nth-child(odd) .pacz-pricing-features:before,
.pacz-pricing-table.classic-style li .pacz-pricing-cols:nth-child(odd) .pacz-pricing-button:before {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.04);
  content: "";
  z-index: 1;
}
.pacz-pricing-table.classic-style.light .pacz-pricing-features li {
  border-bottom: 1px solid #e8e8e8;
}
.pacz-pricing-table.classic-style.light .pacz-offers ul li {
  background-color: rgba(0, 0, 0, 0.005);
  border-bottom: 1px solid #e8e8e8;
}
.pacz-pricing-table.classic-style.light .pacz-offers ul li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.01);
}
.pacz-pricing-table.classic-style.dark {
  color: #fff;
}
.pacz-pricing-table.classic-style.dark .pacz-offers ul li {
  background-color: rgba(0, 0, 0, 0.4);
}
.pacz-pricing-table.classic-style.dark .pacz-offers ul li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.45);
}
.pacz-pricing-table.classic-style.dark .pacz-pricing-features ul li {
  background-color: rgba(0, 0, 0, 0.4);
}
.pacz-pricing-table.classic-style.dark .pacz-pricing-features ul li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.45);
}
.pacz-pricing-table.classic-style.dark .pacz-pricing-cols li:nth-child(odd) .pacz-pricing-plan {
  background-color: rgba(0, 0, 0, 0.6);
}
.pacz-pricing-table.classic-style.dark .pacz-pricing-cols li:nth-child(odd) .pacz-pricing-price:before,
.pacz-pricing-table.classic-style.dark .pacz-pricing-cols li:nth-child(odd) .pacz-pricing-features:before,
.pacz-pricing-table.classic-style.dark .pacz-pricing-cols li:nth-child(odd) .pacz-pricing-button:before {
  background-color: rgba(0, 0, 0, 0.15);
}
.pacz-pricing-table.classic-style.dark .pacz-pricing-button {
  background-color: rgba(0, 0, 0, 0.4);
}
.pacz-pricing-table.modern-style .pacz-pricing-col {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.pacz-pricing-table.modern-style .pacz-pricing-col.featured-plan .pacz-pricing-price {
  border: 0 !important;
  height: 159px;
}
.pacz-pricing-table.modern-style .pacz-pricing-col .pacz-pricing-features,
.pacz-pricing-table.modern-style .pacz-pricing-col .pacz-pricing-button {
  border-left: 3px solid #f6f6f6;
  border-right: 3px solid #f6f6f6;
}
.pacz-pricing-table.modern-style .pacz-pricing-col .pacz-pricing-plan {
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  background-clip: padding-box;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-color: #222;
  font-size: 14px;
}
.pacz-pricing-table.modern-style .pacz-pricing-col .pacz-pricing-button {
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  background-clip: padding-box;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  border-bottom: 3px solid #f6f6f6;
}
.pacz-pricing-table.modern-style .pacz-pricing-col .pacz-pricing-features ul {
  padding: 25px 40px 10px;
}
.pacz-pricing-table.modern-style .pacz-pricing-col .pacz-pricing-features ul li {
  background-color: transparent !important;
  border-bottom: 2px solid #f8f8f8;
  text-align: left;
}
.pacz-pricing-table.modern-style .pacz-pricing-col .pacz-pricing-features ul li:last-child {
  border-bottom: none;
}
.pacz-pricing-table.modern-style .pacz-pricing-col .pacz-pricing-price,
.pacz-pricing-table.modern-style .pacz-pricing-col .pacz-pricing-features,
.pacz-pricing-table.modern-style .pacz-pricing-col .pacz-pricing-button {
  background-color: transparent;
}
.pacz-pricing-table.modern-style .pacz-pricing-col .pacz-pricing-price:before,
.pacz-pricing-table.modern-style .pacz-pricing-col .pacz-pricing-features:before,
.pacz-pricing-table.modern-style .pacz-pricing-col .pacz-pricing-button:before {
  background-color: transparent;
}
.pacz-pricing-table.modern-style .pacz-pricing-col.featured-plan {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pacz-pricing-table.modern-style .featured-plan .pacz-pricing-price {
  height: 158px;
}
.pacz-pricing-table.modern-style .featured-plan .pacz-pricing-button {
  padding: 20px 0 30px;
}
.pacz-pricing-table.modern-style.light .pacz-pricing-col {
  background-color: rgba(255, 255, 255, 0.2);
}
.pacz-pricing-table.modern-style.dark {
  color: #fff;
}
.pacz-pricing-table.modern-style.dark .pacz-offers ul li {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.pacz-pricing-table.modern-style.dark .pacz-offers ul li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.45) !important;
}
.pacz-pricing-table.modern-style.dark .pacz-pricing-col {
  background-color: rgba(0, 0, 0, 0.4);
}
@media handheld, only screen and (max-width: 960px) {
  .pacz-pricing-offer-grid {
    display: none;
  }
  .pacz-pricing-cols,
  .has-pricing-offer .pacz-pricing-cols {
    width: 100% !important;
    text-align: center;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .pacz-pricing-cols .pacz-pricing-col {
    width: 100% !important;
    margin-bottom: 30px;
    display: block;
    max-width: none !important;
  }
  .pacz-pricing-cols .pacz-pricing-col li {
    max-width: none !important;
  }
}
/* *
*
-------------------------- WIDGETS SECTION -----------------------------
*
* */
#pacz-sidebar .widget {
	background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
    padding: 30px 30px;
	
}
.widget {
    margin-bottom: 30px;
    overflow: visible;
	
}
.widget.widget_nav_menu .menu-item ul{
	padding-left:15px;
}
.widgettitle {
  position: relative;
  display: block;
  margin-bottom: 30px;
  line-height: 100%;
  font-size: 18px;
  font-weight:700;
}
.widgettitle:after {
  
}
#pacz-sidebar .widgettitle {
	
}
#pacz-sidebar .widgettitle:before {
    content: "";
    display: inline-block !important;
    height: 17px;
    left: 0;
    margin-right: 10px;
    position: relative;
    top: 2px;
    width: 2px;
	
}
.pacz-side-dashboard .widgettitle {
  margin-bottom: 10px;
}
.pacz-side-dashboard .widget {
  margin-bottom: 20px;
}
.pacz-side-dashboard .widget-social-container {
  padding: 0 !important;
}
#pacz-sidebar ul,
#pacz-footer ul,
.pacz-side-dashboard ul {
  margin: 0;
}
.widget_archive li,
.widget_categories li,
.widget_nav_menu li,
.widget_links li,
.widget_meta li,
.widget_authors li,
.widget_contact_info li,
.widget_popular_posts li,
.widget_recent_posts li,
.widget_twitter li,
.widget_pages li,
.widget_recent_comments li,
.widget_rss li,
.widget_recent_entries li,
.widget_product_categories li,
.widget_display_topics li,
.widget_display_forums li,
.widget_display_views li {
  margin: 0;
  list-style: none;
}
.widget_archive li a,
.widget_recent_comments .recentcomments,
.widget_nav_menu li a,
.widget_links li a,
.widget_meta li a,
.widget_contact_info li a,
.widget_pages li a,
.widget_text li a,
.widget_recent_entries li a,
.widget_product_categories li a,
.widget_display_topics li a,
.widget_display_forums li a,
.widget_display_views li a {
  display: inline-block;
  margin: 0 0 12px 0;
  text-decoration: none;
  line-height: 18px;
}

#pacz-footer .widget_nav_menu li a {
  border-bottom: none;
  display: block;
  padding-bottom: 0;
}
.widget_archive li a,
.widget_nav_menu li a,
.widget_links li a,
.widget_meta li a,
.widget_product_categories li a,
.widget_display_topics li a,
.widget_display_forums li a,
.widget_display_views li a {
  border-bottom: 2px solid rgba(128, 128, 128, 0.1);
  display: block;
  padding-bottom: 12px;
}
.widget_pages {
  padding: 0 10px;
}
.widget_pages li {
  margin: 0;
  padding: 0;
}
.widget_pages li a {
  padding: 10px 10px;
  margin: 0;
  display: block;
  color: #808080 !important;
}
.widget_pages li a:hover {
  background-color: rgba(128, 128, 128, 0.1);
}
.widget_pages .page_item_has_children ul.children {
	padding-left:15px;
}
/* Widgets:Recent Comments
-------------------------------------------------------------------- */
.widget_recent_comments .pacz-recent-comments {
  padding: 0;
}
.widget_recent_comments .pacz-recent-comments .recentcomments {
  position: relative;
  padding-left: 68px;
  margin-bottom: 16px;
  display: block;
}
.widget_recent_comments .pacz-recent-comments .recentcomments .comment-detail {
  position: relative;
  min-height: 60px;
  padding: 16px;
  background-color:#F9FAFC;
  display: block;
}
.widget_recent_comments .pacz-recent-comments .recentcomments .comment-detail p {
  margin: 0;
  line-height: 18px;
}
.widget_recent_comments .pacz-recent-comments .recentcomments .comment-detail:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #F9FAFC;
  left: -8px;
  top: 50%;
  margin-top: -4px;
}
.widget_recent_comments .pacz-recent-comments .comment-avatar {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
  width: 45px;
  heights: 45px;
}
.widget_recent_comments .pacz-recent-comments .comment-author {
  margin-bottom: 2px;
  color: #444;
}
.widget_recent_comments .pacz-recent-comments .comment-content {
  color: #666;
  font-size: 12px;
  line-height: 15px;
}
/* Widget:RSS
-------------------------------------------------------------------- */
.widget_rss li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.widget_rss .rsswidget {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 15px;
}
.widget_rss .rss-date {
  display: block;
  padding-top: 5px;
  font-size: 11px;
}
.widget_rss cite {
  font-size: 11px;
}
.widget_rss .rssSummary {
  padding: 6px 0;
}
/* Widget:Sub Navigation
-------------------------------------------------------------------- */
.widget-sub-navigation ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget-sub-navigation ul li {
  margin: 0;
}
.widget-sub-navigation ul li:last-child a {
  border-bottom: none !important;
  padding-bottom: 16px !important;
}
.widget-sub-navigation ul li:first-child a {
  padding-top: 16px !important;
}
.widget-sub-navigation ul li a {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(128, 128, 128, 0.1);
  padding: 8px 25px 8px 0;
  color: #808080 !important;
}
.widget-sub-navigation ul li a:hover {
  color: #444 !important;
}
.widget-sub-navigation ul li.current_page_item {
  font-weight: 600;
}
.widget-sub-navigation ul li.current_page_item a {
  color: #444 !important;
}
.widget_tag_cloud li,
.widget_product_tag_cloud li {
  display: inline-block;
}
.widget_tag_cloud a,
.widget_product_tag_cloud a {
  display: inline-block;
  margin: 8px 4px 0 0;
  padding: 12px 10px;
  text-transform: capitalize;
  line-height: 100%;
  border-radius:4px;
  border:1px solid #777;
  font-size:14px !important;
  
  
}
#pacz-sidebar .widget_tag_cloud a,
#pacz-sidebar .widget_product_tag_cloud a {
	background: #f9f9f9;
    border-color: #eee;
    border-radius: 0;
    padding:7px 15px;
  
  
}

.widget_categories a {
  display: inline-block;
  margin: 8px 4px 0 0;
  padding: 0;
  text-transform: capitalize;
  line-height: 100%;
  border-radius:4px;
  font-size:14px !important;
  width:auto;
  
  
}
.widget_categories .children{
	position:static !important;
	padding-left:10px;
}
.widget_categories .children li a{
	padding:2px 10px;
}
.widget_categories a:before{
	content:"\f101";
	font-family:FontAwesome;
	margin-right:10px;
	display:inline-block;
	
}
.widget_categories a:hover{
	
}
.widget_tag_cloud a:hover,

.widget_product_tag_cloud a:hover {
  color: #fff !important;
}
.widget_tag_cloud .tagcloud {
  margin-top:-5px
}
/* Widgets:CONTACT FORM
-------------------------------------------------------------------- */
.widget_contact_form .pacz-contact-form-wrapper {
  padding: 0 10px;
}
.widget_contact_form .captcha-change-image {
  display: inline-block;
  margin: 10px auto;
  font-size: 10px;
}
/* Widgets:CONTACT INFO
-------------------------------------------------------------------- */
.widget_contact_info ul {
  padding: 0;
  padding: 0 15px;
}
.widget_contact_info ul li {
  position: relative;
  display: block;
  margin: 0 0 9px 0;
  padding: 0 0 0 40px;
  line-height: 30px;
  color: #808080 !important;
}
.widget_contact_info ul li span {
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
  font-size: 12px;
}
.widget_contact_info ul li a {
  margin: 0;
  color: #808080 !important;
}
.widget_contact_info ul li i {
  position: absolute;
  top: 3px;
  left: 0;
  line-height: 28px;
  font-size: 16px;
  height: 28px;
  width: 16px;
  padding-right: 10px;
  text-align: center;
  display: block;
  text-align: left;
  border-right: 2px solid rgba(128, 128, 128, 0.2);
}
.widget_contact_info.dark-skin li i {
  border-right: 2px solid #eee;
  color: #737373;
}
.widget_contact_info.light-skin li span,
.widget_contact_info.light-skin li a {
  color: #fff;
}
.widget_contact_info.light-skin li i {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  color: #fff;
}
/* Widgets:Video
-------------------------------------------------------------------- */
.widget_video .pacz-frame {
  position: relative;
  
}
.widget_video .pacz-frame .pacz-video-container {
    padding-top: 0;
}
.widget_video .pacz-frame .video-title {
  font-weight: 400;
  padding: 0 10px;
  margin-top: 14px;
  text-transform:none;
  letter-spacing:1px;
}
.widget_video .pacz-frame .video-desc {
  padding: 0 10px;
  line-height:22px;
}

/* Widgets:Image
-------------------------------------------------------------------- */

.widget_image{}
.widget_image .pacz-custom-image{}
.widget_image .pacz-custom-image a{display:block;text-align:center;}
.widget_image .pacz-custom-image a img{display:block;margin:0 auto;}
#pacz-footer .widget_image .pacz-custom-image a{display:block;text-align:left;}
#pacz-footer .widget_image .pacz-custom-image a img{display:block;margin:0;}

/* Widgets:INSTAGRAM FEEDS
-------------------------------------------------------------------- */
.pacz-instagram-feeds {
  width: 100%;
  overflow: hidden;
  margin-left:-5px;
  margin-right:-5px;
}
.pacz-instagram-feeds .item-holder {
  position: relative;
}
.pacz-instagram-feeds .hover-overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.pacz-instagram-feeds a {
  line-height: 4px;
  float: left;
  display: inline-block;
  margin: 0 1px 1px 0;
}
.pacz-instagram-feeds a img {
  width: 100%;
}
.pacz-instagram-feeds .one-columns {
  width: 100%;
}
.pacz-instagram-feeds .two-columns {
  width: 49.8%;
}
.pacz-instagram-feeds .three-columns {
  width: 32.5%;
  padding:0 5px 10px;
}
.pacz-instagram-feeds .four-columns {
  width: 24.7%;
}
.pacz-instagram-feeds .five-columns {
  width: 19.6%;
}
@media handheld, only screen and (max-width: 600px) {
  .pacz-instagram-feeds .five-columns,
  .pacz-instagram-feeds .four-columns,
  .pacz-instagram-feeds .three-columns {
    width: 49% !important;
  }
  .pacz-instagram-feeds a img {
    width: 100%;
  }
.pacz-instagram-feeds {
  margin-left:0;
  margin-right:0;
}
}
/* Widgets:POPULAR POSTS, Recent Posts, Related Posts
-------------------------------------------------------------------- */
#pacz-sidebar .sidebar-wrapper .widget_posts_lists ul li {

  border-bottom:none;
  padding-bottom:0;
}
.widget_posts_lists ul li {
  overflow: hidden;
  margin: 0 0 25px;
  list-style: none;
  border-bottom:1px solid #1f212f;
  padding-bottom:25px;
}
.widget_posts_lists ul li:last-child{margin-bottom:0;}
#pacz-footer .widget_posts_lists ul li:last-child {
  margin: 0;
  border-bottom:none;
  padding-bottom:0;
}
.widget_posts_lists ul li .featured-image {
  float: left;
  overflow: hidden;
  margin: 0;
  display: block;
}
#pacz-footer  .widget_posts_lists ul li .featured-image {
  width:100px;
}
#pacz-sidebar .widget_posts_lists ul li .post-list-info {
  margin: 0 0 0 110px;
  padding:10px 0;
}
.widget_posts_lists ul li .post-list-info {
  margin: 0 0 0 115px;
  padding:0;

}
.widget_posts_lists ul li .post-list-info.posts-no-thumb {
  margin-left: 0;
}
.widget_posts_lists ul li .post-list-title {
  display: block;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
  font-weight:bold;
  
}
#pacz-footer .widget_posts_lists ul li .post-list-title {
  font-size: 14px;
  font-weight:bold;
  text-transform:uppercase;
}
.widget_posts_lists ul li .post-list-title:after {
  
}
.widget_posts_lists ul li .post-list-meta {
  display: block;
  margin-top:5px;
}
.widget_posts_lists ul li .post-list-meta data {
  padding:3px 10px;
  font-size:11px;
}
#pacz-footer .widget_posts_lists ul li .post-list-meta data {
  padding:0;
}
#pacz-sidebar .widget_posts_lists ul li .post-list-meta data {
  font-family:'Montserrat';
}
.widget_posts_lists ul li .post-list-meta time {
  color: #999999;
}
.widget_posts_lists ul li .post-list-meta time,
.widget_posts_lists ul li .post-list-meta a {
  font-size: 12px;
  line-height: 15px;
  color:#6a727d;
}

/* Widgets:Tribe events
-------------------------------------------------------------------- */
.tribe-events-list-widget ol li:last-child {
    margin-bottom: 0;
}


/* Widgets:Blog Posts Tabs:Popular + Recent + comments
-------------------------------------------------------------------- */
.widget_posts_tabs .pacz-tabs-pane li {
  overflow: hidden;
  margin: 0 0 20px;
  padding: 0 0 20px;
  list-style: none;
  border-bottom: 2px solid #eee;
}
.widget_posts_tabs .pacz-tabs-pane li .featured-image {
  float: left;
  overflow: hidden;
  margin: 0 10px 0 0;
  display: block;
}
.widget_posts_tabs .pacz-tabs-pane li .post-list-info {
  margin: 0 0 0 80px;
}
.widget_posts_tabs .pacz-tabs-pane li .post-list-info.posts-no-thumb {
  margin-left: 0;
}
.widget_posts_tabs .pacz-tabs-pane li .post-list-title {
  display: block;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 12px;
}
.widget_posts_tabs .pacz-tabs-pane li .post-list-meta {
  display: block;
  line-height: 18px;
}
.widget_posts_tabs .pacz-tabs-pane li .post-list-meta time,
.widget_posts_tabs .pacz-tabs-pane li .post-list-meta .cats {
  display: inline-block;
}
.widget_posts_tabs .pacz-tabs-pane li .post-list-meta time {
  font-size: 11px;
  font-weight: bold;
  color: #444444;
}
.widget_posts_tabs .pacz-tabs-pane li .post-list-meta .cats a {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
.widget_posts_tabs .pacz-tabs-pane li .blog-comments,
.widget_posts_tabs .pacz-tabs-pane li .pacz-love-holder {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: #999999 !important;
  padding-right: 8px;
}
.widget_posts_tabs .pacz-tabs-pane li .blog-comments i,
.widget_posts_tabs .pacz-tabs-pane li .pacz-love-holder i {
  color: #eeeeee;
  font-size: 16px;
}
.widget_posts_tabs .pacz-tabs-tabs {
  border-bottom: 3px solid #eeeeee;
}
.widget_posts_tabs .pacz-tabs-tabs li {
  display: inline-block;
  padding: 10px 12px 6px;
}
.widget_posts_tabs .pacz-tabs-tabs li a {
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: #999999 !important;
}
.widget_posts_tabs .pacz-tabs-tabs li.ui-state-active {
  background-color: #eeeeee;
}
.widget_posts_tabs .pacz-tabs-tabs li.ui-state-active a {
  color: #454545 !important;
}
.widget_posts_tabs .pacz-tabs-panes {
  padding-top: 20px;
}
/* Widgets:SOCIAL NETWORKS
-------------------------------------------------------------------- */
.widget_social_networks .social-title.center {
  text-align: center;
}
.widget_social_networks .social-title.center:after {
  margin-left: auto !important;
  margin-right: auto !important;
}
.widget_social_networks .social-title.right {
  text-align: right;
}
.widget_social_networks a {
  position: relative;
  display: inline-block;
  float: left;
  margin: 4px;
  font-size: 16px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.widget_social_networks a.dark {
  color: #737373;
}
.widget_social_networks a.dark:hover {
  color: #fff !important;
}
.widget_social_networks a.light {
  color: #fff !important;
}
.widget_social_networks a.light i {
  color: #fff !important;
}
.widget_social_networks .widget-social-container {
  *zoom: 1;
  padding: 0 10px;
}
.widget_social_networks .widget-social-container:before,
.widget_social_networks .widget-social-container:after {
  content: " ";
  display: table;
}
.widget_social_networks .widget-social-container:after {
  clear: both;
}
.widget_social_networks .widget-social-container.align-right {
  text-align: right;
}
.widget_social_networks .widget-social-container.align-right a {
  float: none;
}
.widget_social_networks .widget-social-container.align-center {
  text-align: center;
}
.widget_social_networks .widget-social-container.align-center a {
  float: none;
}
.widget_social_networks .circle-style a {
  height: 30px;
  width: 30px;
  line-height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.widget_social_networks .circle-style a.dark {
  border: 3px solid #737373;
}
.widget_social_networks .circle-style a.dark:hover {
  color: #fff !important;
  background-color: #737373;
}
.widget_social_networks .circle-style a.light {
  border: 3px solid #fff !important;
}
.widget_social_networks .circle-style a.light:hover {
  background-color: #fff !important;
  color: #000 !important;
}
.widget_social_networks .circle-style a.light:hover i {
  color: #000 !important;
}
.widget_social_networks .circle-style a.custom {
  border: 3px solid #737373;
}
.widget_social_networks .simple-style {
  padding: 30px 0 0;
}
.widget_social_networks .simple-style a {
  font-size: 20px;
  margin: 0 20px 10px 0;
  border-color: transparent !important;
}
.widget_social_networks .simple-style a i {
  transition: color .3s ease;
}
.widget_social_networks .simple-style a:hover {
  background-color: transparent !important;
}
.widget_social_networks .simple-style a.custom {
  background-color: transparent !important;
}
.widget_social_networks .simple-style a.dark:hover {
  color: inherit !important;
}
.widget_social_networks .simple-style a.light:hover {
  color: inherit !important;
}
@media handheld, only screen and (max-width: 650px) {
  .widget_social_networks .widget-social-container.align-right,
  .widget_social_networks .widget-social-container.align-left {
    text-align: center;
  }
  .widget_social_networks .widget-social-container.align-right a,
  .widget_social_networks .widget-social-container.align-left a {
    float: none;
  }
}
/* widget about*/

.widget .phone-number{display:inline-block;padding-right:15px;}
.widget .email-id{display:inline-block;}
.widget .phone-number i,
.widget .email-id i{font-size:16px;padding-right:10px;}

/* Widgets:TESTIMONIAL SLIDER
-------------------------------------------------------------------- */
.widget_testimonials .testimonial-slider {
  position: relative;
  padding: 0 10px !important;
}
.widget_testimonials .testimonial-slider li {
  margin: 0;
}
.widget_testimonials .testimonial-slider .testimonial-quote {
  position: relative;
  padding: 15px 20px;
  background-color: rgba(128, 128, 128, 0.1);
  font-size: 14px;
  line-height: 22px;
  color: #808080;
}
.widget_testimonials .testimonial-slider .testimonial-quote:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(128, 128, 128, 0.1);
  left: 50%;
  bottom: -8px;
  margin-left: -4px;
}
.widget_testimonials .testimonial-slider .testimonial-details {
  margin-top: 15px;
  text-align: center;
}
.widget_testimonials .testimonial-slider .testimonial-author {
  margin: 0;
  font-size: 13px;
  color: #808080 !important;
  line-height: 18px;
}
.widget_testimonials .testimonial-slider .testimonial-position {
  display: block;
  font-size: 12px;
  line-height: 12px;
}

/* Widgets:TWITTER FEEDS
-------------------------------------------------------------------- */
.pacz-tweet-list {
  display: block;
  position: relative;
  margin: 0 !important;
  padding: 0;
  list-style: none;
  padding: 0 15px;
}
.pacz-tweet-list li {
  padding: 0 0 15px;
  margin: 0 0 15px;
  border-bottom: 2px solid #e6e6e6;
}
.pacz-tweet-list li .tweet-text {
  display: block;
  line-height: 18px;
  color: #808080;
}
.pacz-tweet-list li .tweet-text a {
  color: #22b7df !important;
  font-weight: bold;
}
.pacz-tweet-list li .tweet-time {
  display: block;
  text-transform: uppercase;
}
/* Widgets:SEARCH FORM
-------------------------------------------------------------------- */
.pacz-search-loop{padding:70px 0 70px;}
.pacz-search-loop .blog-list-entry {
    border:none;
}
.pacz-search-loop .searchform{
	padding-bottom:30px;
}
.pacz-searchform {
  position: relative;
  max-width: 320px;
}
.error-404-wrapper .pacz-searchform {
  max-width: 480px;
}
.widget .search-wrap{
	
	padding:30px 15px;
	-webkit-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.08);
-moz-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.08);
box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.08);
	}
.pacz-search-loop h3{margin-bottom:0; text-align:center;}
.pacz-search-loop p{ text-align:center;}
.searchform .pacz-searchform {
  margin:0 auto;
}
.search-wrap .searchform {
  margin-bottom:0 !important;
}

.pacz-searchform .text-input {
  margin: 0 3px 3px 0;
  padding: 17px 28px 16px 12px;
  width: 100%;
  color: #666;
  border: 1px solid #d7dde5;
  font-size: 12px;
  text-transform: uppercase;
  background: #fff;
  overflow:hidden;
}
.pacz-searchform .text-input::-webkit-input-placeholder,
.pacz-searchform .pacz-textarea::-webkit-input-placeholder {
  color: #808080;
}
.pacz-searchform .text-input:-moz-placeholder,
.pacz-searchform .pacz-textarea:-moz-placeholder {
  color: #808080;
}
.pacz-searchform .text-input::-moz-placeholder,
.pacz-searchform .pacz-textarea::-moz-placeholder {
  color: #808080;
}
.pacz-searchform .text-input:-ms-input-placeholder,
.pacz-searchform .pacz-textarea:-ms-input-placeholder {
  color: #808080;
}
.pacz-searchform .pacz-icon-search {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -28px;
  font-size: 16px;
  display: block;
  width: 51px;
  height: 51px;
  padding-right:5px;
  line-height: 51px;
  text-align: center;
  color:#d7dde5;
}
.pacz-searchform .pacz-icon-search:hover {
  background-color: rgba(128, 128, 128, 0.1);
}
.pacz-searchform .search-button {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: none;
}
.tiny_slider_widget .pacz-image-slideshow {
  margin: 0 auto;
}
.pacz-search-loop .blog-list-entry {
	background: #fff;
    box-shadow: 0 8px 6px -2px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
}
/* Widgets:CALENDAR
-------------------------------------------------------------------- */
#calendar_wrap {
  position: relative;
  margin: 0;
  padding: 0;
  background: rgba(128, 128, 128, 0.1);
  text-align: center;
}
#wp-calendar {
  margin: 0 !important;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-bottom: none;
  overflow: visible;
}
#wp-calendar thead {
  background-color: #5c5c5c;
  border: none;
}
#wp-calendar thead th {
  color: #fff !important;
  font-size: 12px;
}
#wp-calendar caption {
  padding: 12px;
  background-color: rgba(128, 128, 128, 0.2);
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
  border-bottom: none;
  text-align:center;
}
#wp-calendar th,
#wp-calendar th {
  padding: 10px 5px;
  color: #787573;
}
#wp-calendar tbody td {
  padding: 12px 2px;
  background-color: rgba(128, 128, 128, 0.1);
  color: #939393;
  border: 1px solid rgba(128, 128, 128, 0.12);
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
}
#wp-calendar td#today {
  border-color: rgba(128, 128, 128, 0.12) !important;
  background: rgba(255,255,255,0.2);
}
#pacz-footer #wp-calendar td#today {
  color: #fff !important;
}
#wp-calendar a {
  color: #666666;
}
#wp-calendar #next,
#wp-calendar #prev {
  position: absolute;
  top: 8px;
  display: block;
  margin: 0;
  padding: 0;
  background: 0;
}
#wp-calendar #next a,
#wp-calendar #prev a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  text-indent: -9999px;
}
#wp-calendar #prev {
  left: 5px;
  width: 18px;
  height: 18px;
  border: 0;
}
#wp-calendar #prev:before {
  content: "\f053";
  font-size: 16px;
}
#wp-calendar #next {
  right: 5px;
  width: 18px;
  height: 18px;
  border: 0;
}
#wp-calendar #next:before {
  content: "\f054";
  font-size: 16px;
}
#wp-calendar tfoot .pad {
  display: none;
}
@media handheld, only screen and (max-width: 960px) {
  #calendar_wrap {
    width: 300px;
  }
}
/* Widgets:Login Form
-------------------------------------------------------------------- */
.widget_login_form .pacz-login-form {
  margin: 0 10px;
}
.widget_login_form .pacz-login-form .form-row {
  position: relative;
  margin-bottom: 6px;
}
.widget_login_form .pacz-login-form .form-row i {
  float: left;
  width: 42px !important;
  height: 42px;
  line-height: 43px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  font-size: 16px;
  border-right: 2px solid #e7e7e7;
}
.widget_login_form .pacz-login-form .form-row i.input-focused {
  color: #fff;
}
.widget_login_form .pacz-login-form .form-row input {
  padding: 12px 12px 12px 58px !important;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  border: 2px solid #e7e7e7;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget_login_form .pacz-login-form .submit_button {
  padding: 12px 30px;
  text-transform: uppercase;
  outline: none;
}
.widget_login_form .pacz-login-form .pacz-login-status {
  margin: 10px 0 0 0;
  font-size: 12px;
}
.widget_login_form .pacz-login-form.dark-skin .form-row i {
  color: #fff;
}
.widget_login_form .pacz-login-form.dark-skin .form-row i.input-focused {
  color: #fff;
}
.widget_login_form .pacz-login-form.dark-skin .form-row input {
  color: #fff;
  background: transparent;
}
.widget_login_form .pacz-login-form.dark-skin .form-row input::-webkit-input-placeholder {
  color: #fff;
}
.widget_login_form .pacz-login-form.dark-skin .form-row input:-moz-placeholder {
  color: #fff;
}
.widget_login_form .pacz-login-form.dark-skin .form-row input::-moz-placeholder {
  color: #fff;
}
.widget_login_form .pacz-login-form.dark-skin .form-row input:-ms-input-placeholder {
  color: #fff;
}
.widget_login_form .pacz-login-form.dark-skin .submit_button {
  border: 2px solid #e7e7e7;
  color: #e7e7e7;
}
.widget_login_form .pacz-login-form.dark-skin .submit_button:hover {
  color: #666e;
  background: #e7e7e7;
}
.widget_login_form .pacz-login-form.light-skin .form-row i {
  color: #666666;
}
.widget_login_form .pacz-login-form.light-skin .form-row i.input-focused {
  color: #fff;
}
.widget_login_form .pacz-login-form.light-skin .form-row input {
  color: #666666;
  background: transparent;
}
.widget_login_form .pacz-login-form.light-skin .form-row input::-webkit-input-placeholder {
  color: #666666;
}
.widget_login_form .pacz-login-form.light-skin .form-row input:-moz-placeholder {
  color: #666666;
}
.widget_login_form .pacz-login-form.light-skin .form-row input::-moz-placeholder {
  color: #666666;
}
.widget_login_form .pacz-login-form.light-skin .form-row input:-ms-input-placeholder {
  color: #666666;
}
.widget_login_form .pacz-login-form.light-skin .submit_button {
  color: #292929;
  border: 2px solid #2e2e2e;
  background: transparent;
}
.widget_login_form .pacz-login-form.light-skin .submit_button:hover {
  background: #2e2e2e;
  color: #fff;
}
.widget_login_form .user-login {
  *zoom: 1;
}
.widget_login_form .user-login:before,
.widget_login_form .user-login:after {
  content: " ";
  display: table;
}
.widget_login_form .user-login:after {
  clear: both;
}
.widget_login_form .user-login .avatar {
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
.widget_login_form .user-login ul {
  float: left;
  display: inline-block;
}
.widget_login_form .user-login ul li {
  position: relative;
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #888;
}
.widget_login_form .user-login ul li:last-child {
  margin-bottom: 0;
}
.widget_login_form .user-login ul li .username {
  text-transform: uppercase;
}
.widget_login_form .user-login ul li a {
  font-weight: normal !important;
  color: #888 !important;
}
.widget_login_form .user-login ul li a.logout {
  text-decoration: underline;
}
.widget_login_form .user-login ul li a.logout:hover {
  text-decoration: none;
}
/* Widgets:Archives
-------------------------------------------------------------------- */
.widget_archive ul {
  *zoom: 1;
}
.widget_archive ul:before,
.widget_archive ul:after {
  content: " ";
  display: table;
}
.widget_archive ul:after {
  clear: both;
}
.widget_archive ul li {
}
.widget_archive ul li:hover {
  
}
.widget_archive ul li a {
  border-bottom: 0;
  display:inline-block;
  padding: 0;
  margin: 0 0 5px;
}
#pacz-sidebar .widget_archive ul li a:before {
    content: "\f101";
    display: inline-block;
    font-family: FontAwesome;
	margin-right:10px;
}
.widget_archive ul li a:hover {
}
/* Widgets:Archives
-------------------------------------------------------------------- */
.pacz-custom-menu.align-center {
  text-align: center;
}
.pacz-custom-menu.align-center .widgettitle:after {
  margin: 10px auto;
}
.pacz-custom-menu.align-right {
  text-align: right;
}
.pacz-custom-menu.align-right .widgettitle:after {
  margin: 10px 0 10px auto;
}
.pacz-custom-menu .menu {
  list-style: none;
}
.pacz-custom-menu .menu li {
  margin: 0;
}
.pacz-custom-menu .menu li a {
  display: block;
  padding: 3px 5px;
}
/* Widgets: Subscription form
-------------------------------------------------------------------- */
.pacz-subscription-form-wrapper {
  width: 100%;
  *zoom: 1;
}
.pacz-subscription-form-wrapper:before,
.pacz-subscription-form-wrapper:after {
  content: " ";
  display: table;
}
.pacz-subscription-form-wrapper:after {
  clear: both;
}
.pacz-subscription-form-wrapper .text-input {
  float: left;
  width: 70%;
  height: 40px;
  vertical-align: top;
}
.pacz-subscription-form-wrapper .pacz-subscription-button {
  width: 27%;
  float: right;
  font-size: 10px;
  height: 40px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.pacz-subscription-form-wrapper.light-skin .text-input {
  border: 2px solid #eee;
  background-color: #fff;
  color: #666;
}
.pacz-subscription-form-wrapper.light-skin .pacz-subscription-button {
  background-color: #eee;
  color: #000;
  border: none;
}
.pacz-subscription-form-wrapper.light-skin .pacz-subscription-button:hover {
  background-color: #666;
  color: #eee;
}
.pacz-subscription-form-wrapper.dark-skin .text-input {
  border: 2px solid #000;
  background-color: #fff;
  color: #666;
}
.pacz-subscription-form-wrapper.dark-skin .pacz-subscription-button {
  background-color: #000;
  color: #fff;
  border: none;
}
.pacz-subscription-form-wrapper.dark-skin .pacz-subscription-button:hover {
  background-color: #d7d7d7;
  color: #000;
}
#pacz-page-title {
  position: relative;
  overflow: hidden;
  z-index:10;
  
}
#pacz-page-title .pacz-page-title-bg {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
}
#pacz-page-title .pacz-effect-gradient-layer {
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity)';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background-color: rgba(255, 255, 255, 0);
}
.intro-effect-fade,
.intro-effect-zoom_out {
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 100% !important;
}
/* -------------------------- */
/*          Fade Effect       */
/* -------------------------- */
/* -------------------------- */
/*          Curtain Effect    */
/* -------------------------- */
.intro-effect-shuffle {
  position: absolute !important;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  background-attachment: fixed!important;
}
.intro-effect-shuffle .page-section-content {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.intro-effect-shuffle.pacz-intro-triggered .page-section-content {
  opacity: 0;
}
/* -------------------------- */
/*          Expose Effect     */
/* -------------------------- */
/* --------------------------------------------------------------
   
Basic WordPress Blog Styles
     
-------------------------------------------------------------- */
.alignleft,
img.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
.default-content-wrapper p {
}
.default-content-wrapper p:last-child {
	
}
.default-content-wrapper p:last-child img.alignright {
	margin-bottom:0;
}
.default-content-wrapper p:last-child:before,
.default-content-wrapper p:last-child:after{
	clear:both;
	content:"";
	display:block;
}
.alignright,
img.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}
.aligncenter,
img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
.wp-caption {
  text-align: center;
  margin-bottom: 1.5em;
}
.wp-caption img {
  border: 0 none;
  margin: 0;
  padding: 0;
}
.wp-caption p.wp-caption-text {
  margin: 0;
  padding: 10px;
}
.wp-smiley {
  max-height: 1em;
  margin: 0 !important;
}
.gallery {
  margin: 0 auto 20px;
  text-align: center;
}
.gallery .gallery-item {
  margin-top: 0;
  text-align: center;
  width: 33%;
  border: 1px solid #eee !important;
  background-color: #fafafa;
}
.gallery .gallery-item img {
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  width: 50%;
}
.gallery-columns-4 .gallery-item {
  width: 24.6% !important;
}
.gallery img {
  border: none !important;
}
.gallery img:hover {
  opacity: 0.7;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity)';
}
.gallery-columns-2 .attachment-medium {
  max-width: 92%;
  height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
  max-width: 84%;
  height: auto;
}
.gallery .gallery-caption {
  font-size: 13px;
  padding: 20px;
}
.gallery dl,
.gallery dt {
  margin: 0;
}
.gallery br + br {
  display: none;
}
/* Tables
-------------------------------------------------------------- */
table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-bottom: 30px;
  position:relative;
}
.theme-content table{background:#fff;}
.theme-content table tr{background:#eee;border:5px solid #fff;}
table th {
  text-align: left;
  padding: 18px 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
table tfoot td {
  padding: 6px;
}
table td {
  text-align: left;
  padding: 12px 30px;
}
/*employees */
.employee-item-wrapper{box-shadow:1px solid #eee;}
.widget label.screen-reader-text{display:none;}

/* Author Widget */
.widget_author{}
.widget_author .motoro-author{}
.widget_author .motoro-author .author-img{
	display:inline-block;
	padding:5px;
	background:#fff;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
	box-shadow: 0 0 6px rgba(0,0,0,.1);
	width:90px;
	float:left;
}
.widget_author .motoro-author .author-content{
	width:calc(100% - 90px);
	width: -webkit-calc(100% - 90px);
    width: -moz-calc(100% - 90px);
	float:left;
	padding-left:15px;
}
.author-social-follow-ul{
	margin:0 -5px !important;
}
.author-social-follow-ul li{
	list-style:none;
	display:inline-block;
	padding:0 5px;
	margin-left:0;
}
.author-reg-date{margin-bottom:0;font-size:12px;padding:4px 0;}
.author-name{
	margin-bottom:0;
	font-size:16px;
	font-weight:700;
	}
.author-social-lable{
	font-size:12px;
}
.author-phone{
	border:1px solid #eee;
	padding:10px 15px;
	margin:20px 0;
	text-align:center;
}
.author-phone a{margin:0;}
.author-phone.style2{
	border:none;
	padding:0;
}
.author-phone.style2 a{
	margin:0;
	min-height:60px;
	line-height:60px;
	display:block;
	border-radius:6px;
	position:relative;
	}
.author-phone.style2 a .number-main{
	 position: absolute;
    top: 50%;
    left: 55px;
    right: 0;
    margin: 0 auto;
    width: calc(100% - 60px);
	width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    text-align: center;
	font-size:18px;
	line-height:20px;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.author-phone.style2 a .number-main span{ 
	font-size:11px;
	display:block;
}
.author-phone a i{
	display: inline-block;
    font-size: 24px;
    margin-right: 10px;
    vertical-align: top;
	}
.author-phone.style2 a i {
    display: inline-block;
	font-size: 32px;
	margin-right: 10px;
	vertical-align: top;
	float: left;
	width: 60px;
	background: rgba(0,0,0,0.1);
	line-height: 60px;
	max-height:60px;
}	
.author-btns{margin:15px -5px 0;}
.author-btns .author-btn-holder{
	width:50%;
	padding:0 5px;
	display:inline-block;
}
.author-btns a{
	display:block;
	min-height:44px;
	line-height:44px;
	text-align:center;
	color:#fff !important;
	padding:0 15px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}

.author-detail-section{
	background:#fff;
	padding:15px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.04);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.04);
	box-shadow: 0 5px 10px rgba(0,0,0,.04);
	border: solid 1px #eee;
}
.author-detail-section .author-thumbnail{
	width:300px;
	float:left;
}
.author-detail-section .author-content-section{
	width:calc(100% - 300px);
	width: -webkit-calc(100% - 300px);
    width: -moz-calc(100% - 300px);
	float:left;
	padding:30px;
}
.author-title{
	font-size:24px;
	font-weight:bold;
}
.author-details{margin-top:20px;}
.author-details p{
	margin-bottom:5px;
	background:#f9f9f9;
	padding:10px 30px;
	display:block;
}
.author-details-info{
	margin-bottom:5px;
	background:#f9f9f9;
	padding:15px 30px;
	display:block;
}
.author-details-info ul{margin:0 -3px;display:inline-block;}
.author-details-info ul li{
	display:inline-block;
	list-style:none;
	}
.author-details-info ul li a{
	display:block;
	text-transform:lowercase;
}
.author-info-title{
	padding-right:10px;
	border-right:1px solid #eee;
	width:90px;
	float:left;
	text-transform:normal;
}
.author-info-content{
	padding-left:20px;
	width:calc(100% - 90px);
	width: -webkit-calc(100% - 90px);
    width: -moz-calc(100% - 90px);
	float:left;
	text-transform:lowercase;
	}
/* author widget style 2 */

.widget_author .motoro-author.style2 .author-img{
	display:block;
	padding:5px;
	background:#fff;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
	box-shadow: 0 0 6px rgba(0,0,0,.1);
	width:110px;
	float:none;
	margin:0 auto;
	border-radius:50%;
	overflow:hidden;
	border:3px solid #dfe1e0;
}
.widget_author .motoro-author.style2 .author-img img{
	border-radius:50%;
}
.widget_author .motoro-author.style2 .author-content {
    width: 100%;
    float: none;
    padding-left: 0;
    text-align: center;
	margin-bottom:15px;
}
.widget_author .motoro-author.style2 .author-content .author-name{
	font-size:24px;
	font-weight:normal;
	margin-bottom: 0;
}
.widget_author .motoro-author.style2 .author-social-follow-ul {
	text-align;center;
}
.widget_author .motoro-author.style2 .author-social-follow-ul li{
	display:inline-block;
}
.widget_author .motoro-author.style2 .author-social-follow-ul li a{
	width:38px;
	height:38px;
	border-radius:50%;
	line-height:38px;
	display:block;
	
}
.widget_author .motoro-author.style2 .author-social-follow-ul li a:hover{
	color:#fff;
}
.widget_author .author-btns.style2 a{
	background:none;
	border:1px solid #eee;
	border-radius:3px;
}
@media handheld, only screen and (max-width: 640px) {
	
	.author-detail-section .author-thumbnail {width: 100%;}
	.author-detail-section .author-thumbnail img{width: 100%;}
	.author-detail-section .author-content-section {width: 100%; padding: 15px 0px;}
	.author-details p {padding: 10px 15px;font-size: 11px;}
	.author-info-title {width: 50px;}
	.author-info-content {
		padding-left: 10px;
		width: calc(100% - 50px);
		width: -webkit-calc(100% - 50px);
		width: -moz-calc(100% - 50px);
	}
}
@media handheld, only screen and (max-width: 480px) {
.author-btns .author-btn-holder {
    width: 100%;
    margin-top: 5px;
}
}
.widget_recent_entries{}
.widget_recent_entries li{
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #eee;
	
}
.widget_recent_entries li:last-child{
	padding-bottom:0;
	margin-bottom:0;
	border-bottom:none;
	
}
.widget_recent_entries li a{
	font-size:16px;
	display:block;
	border-bottom:none;
	margin:0;
	color:#333 !important;
}
.widget_recent_entries li span{
	padding-top:5px;
	font-size:11px;
}
.post-password-form input{
	min-height:48px;
}
.wp-block-cover.alignleft{
	margin-right:15px;
}
.wp-block-cover.alignright{
	margin-left:15px;
}

/* listing buttons widget */

.motoro-listing-buttons-ul{}
.motoro-listing-buttons-ul li{
	margin-bottom:10px;
	list-style:none;
	margin-left:0;
}
.motoro-listing-buttons-ul li:last-child{
	margin-bottom:0;
}
.motoro-listing-buttons-ul li a,
.motoro-listing-buttons-ul li .alsp-field-output-block-price{
	min-height: 60px;
	width: 100%;
	display: block;
	line-height: 60px;
	text-align: center;
	color: #fff !important;
	font-size: 18px;
	font-weight: bold;
	border-radius:8px;
	overflow:hidden;
}
.motoro-listing-buttons-ul li .alsp-field-output-block-price{
	font-size: 24px;
}
.motoro-listing-buttons-ul li a i,
.motoro-listing-buttons-ul li a span,
.motoro-listing-buttons-ul li .alsp-field-output-block-price .alsp-field-content span{
	float:left;
	width:60px;
	text-align:center;
	
}
.motoro-listing-buttons-ul li .alsp-field-output-block-price .alsp-field-content span{
	background:#61bb31;
}
.motoro-listing-buttons-ul li .alsp-field-output-block-price{
	background: #73cf42;
}
.motoro-listing-buttons-ul li .alsp-field-output-block-price .alsp-field-caption{
	display:none;
}
.motoro-listing-buttons-ul li a.add_to_favourites{
	background: #f04e4e;
}
.motoro-listing-buttons-ul li a.add_to_favourites span{
	background:#dd4d4d;
}
.motoro-listing-buttons-ul li a.listing_report_btn{
	background: #cfa42f;
}
.motoro-listing-buttons-ul li a.listing_report_btn i{
	background:#c9a43f;
}
.motoro-listing-buttons-ul li a.listing_test_drive_btn{
	background: #3365fc;
}
.motoro-listing-buttons-ul li a.listing_test_drive_btn i{
	background:#535ffd;
}
.motoro-listing-buttons-ul li a.listing_tradein_btn{
	background: #005376;
}
.motoro-listing-buttons-ul li a.listing_tradein_btn i{
	background:#05485f;
}
.singlepost h1{
padding-top: 15px;
}


































