.pdlr7{
    padding: 0 4px;
}
.banner-area{
 
}
.banner-title{
    display: block;
font-size: 75px;
text-align: left;
line-height: 90px;
letter-spacing: 0px;
color: #ffffff !important;
font-weight: bold;
margin-bottom: 7px;
margin-top: 80px;
}
.subtitle{
display: block;
font-size: 34px;
text-align: left;
line-height: 48px;
letter-spacing: 0px;
color: #f1e4ce;
font-weight: bold;
margin-bottom: 30px;
margin-top: 0px;
}
.advance-search{
    background: #fff;
 padding-top: 10px;
 padding-bottom: 40px;
 border-bottom: 1px solid #cccccc52;
}
.rel{
    position:relative;
}
.type{
    position: absolute;
    top: -48px;
}
.type .btn{
    background: rgba(255,255,255, 1);
    border-radius: 1px;
    box-shadow: none;text-transform: uppercase;
    border: none;padding: 9px 22px
}
.type .btn.active{
    background: #f04d4e;
    color: #fff;
  box-shadow: none;
}
.select2-container .select2-selection--single{
    height: 34px;
    border: 1px solid #aaaaaa57;
    padding-top: 2px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 5px;
}
.select2-results  ul  li{
    margin-left: 0 !important;
}

.btn.btn-base{
color: #fff;
background: #f04d4e;
padding: 8px 7px 6px 7px;
border-radius: 2px;
border: 1px solid #f04d4e;
line-height: 18px;
font-size: 16px;
}
.btn.btn-base:hover{
    background: #3eb549 !important;border: 1px solid #3eb549;
}
.advance-search input {
box-shadow: none;
}
.advance-search input:focus{
box-shadow: none;
}

.carmodel{
    background: #fff;
    padding: 50px 0;
}
.carmodel .mb5{
    margin-bottom: 5px;
}
.eachmodel{
     text-align: center;
border: 1px solid #eeeeee7d;
padding: 30px 15px 0px 15px;
}
.eachmodel p{
    font-size: 18px;
margin-top: 10px;
}
.eachmodel:hover{
  background: #cccccc24;
}

.eachmodel:hover p{
   color: #f04d4e;
}

.latest{
    background:  #f4f4f4;
    border-bottom: 1px solid #eeeeee7d;
    border-top: 1px solid #eeeeee7d;
    padding: 50px  0;
}
.latest h3{
    text-align: center;
    font-size: 23px;
    margin-bottom: 0;
}
.latest p{
    text-align: center;
    font-size: 14px;
    
}
.each-ecar{   background: #fff;
    box-shadow: 1px 1px 4px #00000024;
    margin-top: 10px;
}
.each-ecar:hover{ 
     box-shadow:1px solid #ccccccf2;
}
.carimg{
    position:relative;
}
.cprice{
    position: absolute;
    padding: 2px 10px;
font-weight: 700;
color: #fff;
background: #3eb549 ;
}

.each-ecar .imguser{
 position: absolute;
border: 1px solid #cacaca;
padding: 1px;
background: #fff;
bottom: -16px;
right: 20px;
}

.each-ecar:hover .cprice{
   background: #f04d4e; 
}
.each-ecar .brand{
    color: #f04d4e;
    margin-bottom: 0;
    width: 100%;
}
.carsummary{
    text-align: center;
    display: block;
    width: 100%;
    
}
.country i{
    font-size: 11px;
}

.carsummary h4{
 font-size: 15px;
 margin: 5px;
}
.btn-group-justified{
       border-top: 1px solid #cccccc40;
       margin-top: 15px;
}
.carsummary .btn-group .spec{
    border-right: 1px solid #cccccc40;
padding: 14px 0px;
}

.locations .location{
    padding: 2px;
background: #fff;
box-shadow: none;
border-radius: 25px;
overflow: hidden;
text-align: left;
margin-top: 21px;
}

.location-icon {
    background-color: #3eb549; 
width: 48px;
height: 48px;
display: inline-block;
border-radius: 50%;
text-align: center;
line-height: 48px;
margin-right: 15px;
    }
.location-icon i{
    color: #fff;
}
.location a{
 float: left;
width: 100%;
}
.mb30{
    margin-bottom: 30px;
}

.ourlocations{
    background: #f4f8ff !important;
}
.testimonial{
    background: url("../images/testimonial.jpg") no-repeat center top;
    min-height: 440px;
    background-size: cover;
}

.testimonial .swiper-slide{
    text-align: center;
}
.testimonial img{
    margin-top: 100px;
    margin-bottom: 20px;
}

.testimonial p{
   font-weight: 600;
   color: #000;
   font-style: italic;
}
.pdesignation{
    font-size: 15px;
    color: #3eb549;
}
.pdesignation small{
    color: #000;
}
.features-list{
    padding: 50px 0 0px 0;
    background: #f4f8ff !important;
}

.fbox{
    background: #fff;
    padding: 50px 30px 25px 30px;
    text-align: center;
}
.fbox:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.12);
}
.roundbox{
    background-color: #eef1fd;
width: 100px;
height: 100px;
border-radius: 50%;
position: relative;
margin: 0 auto 20px;
border: 1px solid #dde0ea;
}
.roundbox img{
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.fbox h4{
    font-size: 16px !important;
font-weight: 600 !important;
color: #333333;
letter-spacing: 0 !important;
}
.app-info{
    margin-top: 100px;
}

.highligts{
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, rgb(233, 88, 40) 70%, rgb(144, 55, 203) 100%) repeat scroll 0% 0%;
padding: 40px 0px 17px 0px;
 width: 100%;
}
.highligts h2{
    float: left;
    color: #fff !important;
    font-size: 30px !important;
    
}
.highligts h2 small{
  font-size: 19px;
color: #fff !important;
position: relative;
top: -14px;
}
.highligts .btn{
   padding: 9px 40px;
font-size: 22px;
border-radius: 48px;
background: #3eb549;
margin-top: 17px;
color: #fff;
border: 1px solid #3eb549;
}
.highligts .btn:hover{
    background: #3eb549db;
}
.slider_lastes{
    padding: 70px 0;
    cursor: move;
}
.btn.btn-search{
    margin-top: 15px;
    background: #f04d4e;
    color: #fff;
}

    
.menu-main-menu-container{
 float: left;
}
.main-navigation-ul li.menu-item{
    display: inline !important;
}
.menu-main-menu-container li a{
   padding: 34px 20px 29px 20px;
    font-family: Roboto;
    font-size: 14px;
    display: inline-block;
    text-transform: capitalize;
    /* border: 1px solid red; */
    font-weight: 400;
}

.menu-main-menu-container li  a:hover,.menu-main-menu-container .current_page_item a{
    color: #f04d4e;
    background-color: #f9f9f9;
}

 .woocommerce-breadcrumb{
     background: #fff;
     padding: 15px !important;
     width: 100%;
     margin-top: 25px !important;
     border-radius: 3px;
 }
.woocommerce-breadcrumb a{
    color: #f04d4e;
}

.custom-car-products{
    padding-bottom: 40px;
}

  .woocommerce-ordering {
      border: 1px solid #4c4c4c2b;
      background: #fff;
      padding: 5px !important;
      margin-top: 16px !important;
      margin-right: 0 !important;
}
.no-padding{
    padding: 5px;
    margin: 0;
}
.hide-bullets{
    margin: 0;
}

.hide-bullets .thumbnail {
    padding: 3px;
    border: 1px solid #ddd;
    cursor: pointer;
}

#slider-thumbs{
    margin-top: 10px;
}

table.tabledetail tr  td{
    border:  none;
    color: #000;
    font-weight: 500;

}
.ashbg{
    background: #dddddd4a;
    color: #000;
    font-weight: 700;
}
.black{

    font-weight:  500 !important;
}
.metacolor a{
    color: #3eb549;
}

.woocommerce-Tabs-panel{
padding:6px 22px !important;
}
.woocommerce-page p.stars a:after, .woocommerce p.stars a:after{
    content: '' !important;
}
.woocommerce-noreviews{
    border: 1px solid #e2e2e2;
    padding: 10px 15px;
    background-color: transparent !important;
    border-radius: 3px;
}
.comment-form-author input,.comment-form-email input{
    width: 100%;
    height: 40px;
}
#pacz-footer .menu-main-menu-container li{
    margin-left: 0;
}
#pacz-footer .menu-main-menu-container li a{
    padding: 0;
}
#pacz-footer .menu-main-menu-container li a:hover{
    background:  transparent !important;
}
.comment-form-email{
    width: 100%;
    display: block;
}
.comment-form-cookies-consent input{
    float: left;
    margin-right: 10px;
}
.woocommerce #review_form #respond label{

    top: -5px !important;
    position: relative !important;
}

.verndorbox{
    text-align: center;
    background: #fff;
    padding: 30px 15px;
    margin-top: 26px;
    border: 1px solid #cccccc30;
    margin-bottom: 30px;
}
.buttonarea{
    padding: 30px 15px;
    margin-top: 26px;
    border: 1px solid #cccccc30;
    text-align: center;
}
.glyphicon-chevron-right::before,.glyphicon-chevron-left::before{
    content: '';
}
.related.products .add_to_cart_button {
    display: none;
}
.mt0{
    margin-top: 0 !important;
}
.verndorbox h3{
    margin-top: 18px;
    margin-bottom: 0;
}
.verndorbox img{
  border: 1px solid #cccccc3b !important;
    border-radius: 50% !important;
    padding: 2px !important;
}
.mb5{
    margin-bottom: 5px;
}
.verndorbox a{
    color: #f04d4e !important;
}
.woocommerce-tabs.wc-tabs-wrapper{
    margin-bottom: 30px !important;
}
.locationslist{
    padding: 0px 15px 15px 15px;
    background: #fff;
    margin-top: 30px;
    overflow: hidden;
}
.locationslist .location{
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 100%;
}
.locationslist .location-icon{
    background-color: #3eb549;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    margin-right: 9px;

}
.deatil_info{
    background: #fff;
    padding: 26px 15px 0px 15px;
    margin-bottom: 30px;
    overflow: hidden;
    margin-top: 23px;
    border-radius: 3px;
}
.price ins .woocommerce-Price-amount.amount{
    font-size: 22px !important;
    color: #3eb549;
}

table.tabledetail tr td{
    border: none !important;
    padding: 7px 0 !important;

}
.table-bordered.tabledetail{
    border: none !important;
}

.details{
    display: none !important;
}

.woocommerce-tabs.wc-tabs-wrapper{
    display: none;
}
.bottombox .woocommerce-tabs.wc-tabs-wrapper{
    display: block;
}
.bottombox  .woocommerce-tabs ul.tabs li {
    display: block;
    margin: 0;
    float: left;

    padding: 5px 27px;
    background: #eee;
}
.bottombox .woocommerce-Tabs-panel {
    padding: 6px 22px !important;
    border: 1px solid #cccccc8a;
    width: 100%;
    padding-top: 33px;
    margin-top: 4px;
    float: left;
}
.woocommerce-page #review_form #respond p label, .woocommerce #review_form #respond p label {
     display: inline  !important;
    font-weight: bold;
    margin-bottom: 5px;
}
.addtocart{
    min-height: 38px;
    border-radius: 3px;
    display: inline-block;
    line-height: 38px;
    padding: 0 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    font-size: 13px;
    text-transform: capitalize;
    margin-top: 36px;
    background: #f04d4e !important;
    padding-left: 15px;
    padding-right: 15px;
}
.listing-btn .listing-header-btn.listing-btn-style2.morebtn{
    background: #fff;
    color: #3eb549;
    border: 1px solid;
    margin-left: 15px;
}
.cartform{
    float: left;
}
.cartform .quantity{
    display: none;
}
.cartform .single_add_to_cart_button{
    padding-left: 15px;
    padding-right: 15px;
    min-height: 38px;
    border-radius: 3px;
}

.cartform button.single_add_to_cart_button{
    border-color: #f04d4e !important;
    background: #f04d4e !important;
    color: #fff !important;
}
.cartform button.single_add_to_cart_button:hover{
    border-color: #3eb549 !important;
    background: #3eb549 !important;
}
.btnlists{
    margin-top: 30px;
}