.motoro-plans.pplan-style-1{}
.motoro-plans.pplan-style-1 .alsp-panel{
	border-radius: 8px;
	box-shadow: none;
}
.motoro-plans.pplan-style-1 .alsp-panel:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.1) !important;
}
.motoro-plans.pplan-style-1 .alsp-panel .alsp-panel-heading{}
.alsp-content .alsp-submit-section-adv.pplan-style-1 .alsp-panel-default > .alsp-panel-heading h3{
	margin:0;
	background:none !important;
	display:block !important;
	text-align:center !important;
	color:#333 !important;
	font-weight:normal !important;
	font-size: 18px !important;
	padding: 20px 15px 20px;
	border-bottom: 1px solid #eee;
}
.motoro-plans.pplan-style-1 .alsp-panel .alsp-panel-heading .alsp-price {
    font-size: 64px;
    color: #333 !important;
	font-weight:normal;
	line-height:64px;
	padding:19px 0 24px

}
.motoro-plans.pplan-style-1 .alsp-panel .alsp-panel-heading .alsp-price .price-symbol{
	font-size:36px;
	vertical-align:top;
}
.motoro-plans.pplan-style-1 .alsp-panel .alsp-panel-heading .alsp-price .price-amount,
.motoro-plans.pplan-style-1 .alsp-panel .alsp-panel-heading .alsp-price .alsp-price-cents{
	font-size:64px;
	vertical-align:top;
}
.motoro-pp-divider{
	width:60px;
	height:2px;
	margin:0 auto 11px;
	
}
.alsp-content .alsp-list-group-item i {
    margin-left: 0;
}
.motoro-plans.pplan-style-1 .alsp-panel .pricing.dynamic-btn{
	min-width: 170px !important;
	min-height: 44px !important;
	border-radius: 4px !important;
	border: 1px solid #eee !important;
	background: none !important;
	text-transform:capitalize;
	font-size:14px !important;
}