/*!
Theme Name: cars
Theme URI: http://underscores.me/
Author: Monir
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: cars
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

cars is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
.archive  .woocommerce-result-count{
    float: left !important;
    margin-bottom: 0 !important;
    margin-top: 20px !important;
}
.adv-filter{
   background: #fff;
    padding: 30px 15px;
    overflow: hidden;
    margin-top: 15px;
    border-radius: 3px;
    overflow: hidden;
}
.adv-filter input{
    height: 40px;
    box-shadow: none;
}
.adv-filter .select2-container .select2-selection--single{
    height: 40px;
}
.adv-filter .select2-container--default .select2-selection--single .select2-selection__rendered {

    line-height: 36px;
}
.adv-filter .btn.btn-base{
    line-height: 24px;
}
.adv-filter input:focus{  box-shadow: none;
    border: 1px solid #f04d4e;
}
.deatil-info{
    background: #fff;
    margin-top: 15px;
    border-radius: 3px;

}
.deatil_info .cartitle{
    margin-bottom: 0 !important;
    padding-top: 0px;
    color: #000;
    margin-top: 5px !important;

}
.subinfo{
    width: 100%;
    display: block;
    font-size: 12px;
    margin-top: 0;
}
.red{
    color: #f04d4e;
}
.ml15{
    margin-left: 5px;
}
.woocommerce-product-gallery__image.flex-active-slide{
    width: 100% !important;
    display: block;

    height: auto !important;
}

.woocommerce-product-gallery__image.flex-active-slide a{
    float: left !important;
    width: 100% !important;
    display: block;    border: 1px solid red;
}
.single-product div.product .woocommerce-product-gallery {
    width: 100%;
}
.carousel-inner > .item > img{
    width: 100%;
}
.onsale{
    display: none;
}

.woocommerce-page .theme-main-wrapper, .woocommerce-page .theme-main-wrapper #theme-page {
    background: #f1f1f15c !important;
}
   #secondary{
    display: none;
}

.single-product.woocommerce-page .theme-main-wrapper #theme-page{
    background: #fff !important;
}
.single-product.woocommerce-page .woocommerce-breadcrumb{
    padding: 0 !important;
}

















